/* Reset mais completo para melhor consistência entre navegadores */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Document */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

/* Sections */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* Grouping content */
ul,
ol {
    list-style: none;
}

/* Text-level semantics */
a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

b,
strong {
    font-weight: bolder;
}

/* Embedded content */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    max-width: 100%;
}

/* Forms */
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}